//Start sass with sass -I bootstrap/sass --watch sass:css

//------------Import bootstrap dependencies-----------
@import "bootstrap";
@import "bootstrap-responsive";

/*--------------------- Mixins -----------------------*/
@mixin thumb_box {
  .thumb_box {
    overflow: auto;
    .thumb_cell {
      display: block; width: 100px; height: 125px; text-align: center; float: left; margin: 0 10px 10px 0;
      .img {
        width: 75px; height: 75px; margin: 0 auto;
        &.add {background: url('/static/img/plus.jpg') no-repeat scroll center top;}
      }
      .caption {}
    }
  }
}

/*--------------------- CSS -----------------------*/

//----------------- App Definitions ---------------
.crazy_links a:hover {@include scale(1.25); @include transition(all .25s)}


//--------------- Base For All Pages ----------------
#header {
  background: url('/static/img/header.jpg') top left repeat-x; 
  width: 100%; height: 88px; text-shadow: black 3px 3px 5px; font-weight: bold; position: relative;
  margin-bottom: 30px;
  #logo {margin-left: 100px; padding-top: 25px;}
  #logo > h1 a {font-size: 2em; color: $pink;}
  #login > h3 {
    font-size: 2em; position: absolute; bottom: 20px; right: 200px;
    a {
      color: $yellow; 
    }
  }
}


//------------------- Pages -------------------
.base.index {
  text-align: center;
  h4,h3 {color: $pink;}
  & h4, & h3, & a {margin-top: 15px;}
}

.auth.login {
  form input {margin-top: 20px;}
  form input[type=submit] {display: block; margin-top: 15px;}
}

.mosaic_shake_app.gallery {
  text-align: center;
  .caption {margin-top: 15px;}
}

.mosaic_shake_app.home {
  .topic_box {
    margin-bottom: 20px;
    .headers > * {float: left}
    .headers .gallery_link {font-size: .8em; padding-left:25px;}
    @include thumb-box;
  }
}

.mosaic_shake_app.new_photoset {
  #map_outer {position: relative;}
  #map_canvas {margin-top: 10px; height: 400px; width: 800px; }
  #bullseye {text-align: center; width: 20px; height: 20px; position: absolute; left: 390px; top: 190px; z-index: 1000; font-weight: bold; color: red;}
}

.mosaic_shake_app.edit_photoset {
  #img_col {height: 80%; min-height: 500px; width: 300px; scroll: auto; border: 1px solid $grayLight; float: right; margin-right: 30px;}
  .work {height: 80%;}
  @include thumb-box;
  .thumb_box div.thumb_cell {width: 75px; height: 75px; margin: 20px;}
}
